root = true

[*]
end_of_line              = lf
charset                  = utf-8
indent_style             = tab
insert_final_newline     = true
trim_trailing_whitespace = true

[*.{yml,yml.erb}]
indent_style             = space
indent_size              = 2
continuation_indent_size = 4

